@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:ital,wght@0,400;0,700;0,900;1,400&display=swap');

@tailwind base;
/* @tailwind components; */
@tailwind utilities;

:root {
  --navHeight: 8rem;
  --playerHeight: 4rem;
}

@media (max-width: 640px){
  :root {
    --navHeight: 6rem;
  }
}

header {
  height: var(--navHeight) !important;
}

header div svg {
  width: 2rem;
  height: 2rem;
}

main {
  height: calc(100vh - var(--navHeight) - var(--playerHeight));
}

.player {
  height: var(--playerHeight);
}

.home {
  min-height: calc(100vh - var(--navHeight) - var(--playerHeight));
  height: auto;
}


