@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:ital,wght@0,400;0,700;0,900;1,400&display=swap');

@tailwind base;
/* @tailwind components; */
@tailwind utilities;

:root {
  --navHeight: 8rem;
  --playerHeight: 4rem;
}

@media (max-width: 640px){
  :root {
    --navHeight: 6rem;
  }
}

header {
  height: var(--navHeight) !important;
}

header div svg {
  width: 2rem;
  height: 2rem;
}

main {
  height: calc(100vh - var(--navHeight) - var(--playerHeight));
}

.player {
  height: var(--playerHeight);
}

.player__details {
  height: calc(100vh - var(--playerHeight) - var(--navHeight));
  overflow-y: scroll;
  top: 100vh;
}

.player__details--opened {
  top: var(--navHeight) !important;
}

.home {
  min-height: calc(100vh - var(--navHeight) - var(--playerHeight));
  height: auto;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.video-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  pointer-events: none;
}
.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.song .song--hover{
  
}

@media (max-width: 767px){
  .minHeightYoutube {
    min-height: calc(92vw * 9/16 + 100px);
  }
}



